---
import snail from './mono-snail.url?raw';
import hslider from './mono-h-sliders.url?raw';
import vslider from './mono-v-sliders.url?raw';
import sbs from './mono-side-by-side.url?raw';
import off from './mono-off.url?raw';
import play from './mono-play.url?raw';
---

<button id="vtbot-ui-control-play"><img style="transform: scale(1.5)" src={play} /></button>
<div id="vtbot-ui-panel">
	<div id="vtbot-ui-messages" style="view-transition-name: vtbot-div-messages">
		<h4>You are &hellip;</h4>
		<p>
			&hellip; in the <b>Engine Room</b><img
				style="width:4em; float:right"
				src="/node_modules/astro-vtbot/assets/bag-of-tricks.svg"
			/> deep down at the bottom of <b>The Bag!</b>
		</p>
		<p>
			<b>Select a mode</b> from <code>Bypass</code> (= no interception), <code>Slow Motion</code>, <code
				>Full Control</code
			> or <code>Side-by-side Comparison</code>.
		</p>
		<p>
			<b>Examine</b> the defined transitions, then <b>navigate</b> by clicking a link on your page.
		</p>
		<p>
			Selecting an element with a view transition name copies its selector to the clipboard, ready
			for pasting into the DevTools console.
		</p>
		<p>
			Active view transitions show an <span style="color: darkgoldenrod"
				>indicator (<img style="transform:translateY(0.4em)" src={play} />)</span
			>. Clicking it ends the transition.
		</p>
		<p>
			View transitions are also canceled when the <a
				href="https://github.com/w3c/csswg-drafts/issues/8045">size or orientation</a
			> of the window changes.
		</p>
		<p style="margin-bottom:0">You can resize this panel by dragging the border.</p>
	</div>

	<div id="vtbot-ui-modi" style="view-transition-name: vtbot-div-modi">
		<h4>Select Mode:</h4>
		<ul>
			<li>
				<input type="radio" name="vtbot-m-rg" id="vtbot-m-bypass" /><label for="vtbot-m-bypass"
					><span style="display: inline-block; width:7em; padding-left: 0.7em"> Bypass</span><img
						style="transform: scale(1.5) translateY(1px)"
						src={off}
					/></label
				>
			</li>
			<li>
				<input type="radio" name="vtbot-m-rg" id="vtbot-m-slow-motion" /><label
					for="vtbot-m-slow-motion"
					><span style="display: inline-block; width:7em; padding-left: 0.7em">
						Slow Motion</span
					><img style="transform: scale(1.5)" src={snail} /></label
				>
			</li>
			<li>
				<input type="radio" name="vtbot-m-rg" id="vtbot-m-control" /><label for="vtbot-m-control"
					><span style="display: inline-block; width:6.7em; padding-left: 0.7em">
						Full Control</span
					>
					<img class="horizontal" style="transform: scale(1.5)" src={hslider} /><img
						class="vertical"
						style="transform: scale(1.5)"
						src={vslider}
					/></label
				>
			</li>
			<li>
				<input disabled type="radio" name="vtbot-m-rg" id="vtbot-m-compare" /><label
					for="vtbot-m-compare"
					><span
						title="Coming soon!"
						style="color:#888; display: inline-block; width:7em; padding-left: 0.7em"
					>
						Side-by-side</span
					><img style="transform: scale(1.5)" src={sbs} /></label
				>
			</li>
		</ul>
	</div>
	<div id="vtbot-ui-slow-motion" style="view-transition-name: vtbot-div-slo-mo">
		<h4>Slow Motion:<span id="vtbot-ui-slo-mo-progress"></span></h4>
		<label for="vtbot-ui-slo-mo">Time stretch Factor: <span id="vtbot-ui-tsf">10.0</span></label><br
		/>
		<input
			id="vtbot-ui-slo-mo"
			data-vtbot-slow-motion="1.0"
			type="range"
			min="264"
			max="852"
			value="692"
		/>
		<div style="view-transition-name: vtbot-checkbox-styled">
			<input id="vtbot-ui-styled" type="checkbox" />
			<label for="vtbot-ui-styled">Highlight groups</label>
		</div>
	</div>
	<div id="vtbot-ui-control" style="view-transition-name: vtbot-div-control">
		<h4>Full Control:</h4>
		<p id="vtbot-ui-control-hint">Start a transition to activate</p>
		<p id="vtbot-ui-control-hint2">Select animations, then &hellip;</p>
		<label for="vtbot-ui-controller2">Unselected: </label><span id="vtbot-ui-progress2">0</span> ms<br
		/>
		<input type="range" id="vtbot-ui-controller2" min="0" max="100" value="0" />
		<div style="display:flex; justify-content: space-between; transform: translateY(-10px)">
			<span>0</span><span id="vtbot-ui-controller-max">100%</span>
		</div>
		<label for="vtbot-ui-controller">Selected:</label>
		<span id="vtbot-ui-progress">0</span> ms<br />
		<input type="range" id="vtbot-ui-controller" min="0" max="100" value="0" />
		<button id="vtbot-ui-control-exit">Exit</button>
	</div>
	<div id="vtbot-ui-names" style="view-transition-name: vtbot-div-names">
		<h4>Elements w/ View Transition Names</h4>
		<div style="display:none; justify-content: space-between">
			<span>old</span><span
				><input id="vtbot-ui-visible-only" type="checkbox" checked/><label for="vtbot-ui-visible-only"
					>in viewport</label
				></span
			><span>new</span>
		</div>
		<ol>
			<li>Name 1</li>
		</ol>
		<button>Reset</button>
	</div>
	<div id="vtbot-ui-filter" style="view-transition-name: vtbot-div-filter">
		<h4>Filter Names:</h4>
		<ul>
			<li>
				<input type="radio" name="vtbot-c-rg" id="vtbot-c-all" checked /><label for="vtbot-c-all"
					>Show all names</label
				>
			</li>
			<li>
				<input type="radio" name="vtbot-c-rg" id="vtbot-c-old" /><label for="vtbot-c-old"
					>On old page</label
				>
			</li>
			<li>
				<input type="radio" name="vtbot-c-rg" id="vtbot-c-new" /><label for="vtbot-c-new"
					>On new page</label
				>
			</li>
			<li>
				<input type="radio" name="vtbot-c-rg" id="vtbot-c-old-only" /><label for="vtbot-c-old-only"
					>Exit animations</label
				>
			</li>
			<li>
				<input type="radio" name="vtbot-c-rg" id="vtbot-c-new-only" /><label for="vtbot-c-new-only"
					>Entry animations</label
				>
			</li>
			<li>
				<input type="radio" name="vtbot-c-rg" id="vtbot-c-both" /><label for="vtbot-c-both"
					>Morph animations</label
				>
			</li>
		</ul>
		<form style="view-transition-name: narrow">
			<label for="narrow">Narrow to:</label><br /><input
				id="narrow"
				type="text"
				placeholder="Fragment"
			/>
		</form>
		<button>Reset</button>
	</div>

	<div id="vtbot-ui-info" style="view-transition-name: vtbot-div-info"></div>
</div>
<button
	id="vtbot-ui-light-dark"
	style="view-transition-name: vtbot-button-mode"
	onclick="document.querySelector('#vtbot-main-frame').contentDocument.documentElement.style.colorScheme = (document.documentElement.style.colorScheme = document.documentElement.style.colorScheme === 'dark' ? 'light' : 'dark')"
	>◑</button
>
<button id="vtbot-ui-turn" style="view-transition-name: vtbot-button-turn">⇲</button>
<button
	id="vtbot-ui-close"
	onclick="window.location.reload()"
	style="view-transition-name: vtbot-button-close">🗙</button
>
<style is:inline>
	#vtbot-ui :where(*, ::before, ::after) {
		box-sizing: border-box;
	}
	#vtbot-ui
		:where
		(
      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      blockquote,
      pre,
      a,
      abbr,
      acronym,
      address,
      big,
      cite,
      code,
      del,
      dfn,
      em,
      img,
      ins,
      kbd,
      q,
      s,
      samp,
      small,
      strike,
      strong,
      sub,
      sup,
      tt,
      var,
      b,
      u,
      i,
      center,
      dl,
      dt,
      dd,
      ol,
      ul,
      li,
      fieldset,
      form,
      label,
      legend,
      table,
      caption,
      tbody,
      tfoot,
      thead,
      tr,
      th,
      td,
      article,
      aside,
      canvas,
      details,
      embed,
      figure,
      figcaption,
      footer,
      header,
      hgroup,
      menu,
      nav,
      output,
      ruby,
      section,
      summary,
      time,
      mark,
      audio,
      video
    ) {
		margin: 0;
		padding: 0;
	}

	#vtbot-ui
		:where(
			article,
			aside,
			details,
			figcaption,
			figure,
			footer,
			header,
			hgroup,
			main,
			menu,
			nav,
			section
		) {
		display: block;
	}
	#vtbot-ui :where(ol, ul) {
		list-style: none;
	}

	#vtbot-ui img {
		border-style: none;
	}

	#vtbot-ui :where(button, input, optgroup, select, textarea) {
		font-family: inherit;
		font-size: 100%;
		line-height: 1.15;
		margin: 0;
	}

	:root {
		transition: color 1s;
	}

	img {
		display: inline-block;
	}
	button {
		padding-left: 6px;
		padding-right: 6px;
	}
	#vtbot-ui-panel {
		--vtbot-name-border-width: 20px;
	}
	#vtbot-ui-panel ~ button {
		border-radius: 6px;
		border: 0;
		margin: 0;
		position: fixed;
		color: white;
		background-color: darkolivegreen;
	}
	#vtbot-ui-panel ~ #vtbot-ui-close {
		padding-bottom: 4pt;
		cursor: pointer;
		right: 11px;
		background-color: darkgoldenrod;
	}
	#vtbot-ui-turn {
		padding-top: 4pt;
		padding-bottom: 2pt;
		cursor: pointer;
		right: 40px;
		color: white;
	}

	#vtbot-ui-light-dark {
		padding-top: 4pt;
		padding-bottom: 2pt;
		cursor: pointer;
		right: 67px;
		color: white;
	}

	#vtbot-ui-panel > div {
		padding: 8px;
		margin: 4px;
		border: 1px solid #888;
		min-width: 150px;
	}
	#vtbot-ui-messages {
		min-height: 120px;
		font-family: monospace;
		hyphens: auto;
		flex-grow: 1;
	}
	#vtbot-ui-messages {
		overflow-y: auto;
	}

	:root:not(.vtbot-ui-column) #vtbot-ui-panel > div {
		min-height: 160px;
	}
	#vtbot-ui-panel div.hidden {
		display: none;
	}

	#vtbot-ui-names,
	#vtbot-ui-filter,
	#vtbot-ui-control {
		position: relative;
	}
	#vtbot-ui-control button,
	#vtbot-ui-names button,
	#vtbot-ui-filter button {
		cursor: pointer;
		padding-bottom: 3pt;
		border: 1px solid #888;
		margin: 0;
		position: absolute;
		top: 0;
		right: 0;
		border-bottom-left-radius: 6px;
	}
	#vtbot-ui-control-hint {
		color: goldenrod;
	}
	#vtbot-ui-control-hint2,
	:root.vtbot-vt-active #vtbot-ui-control-hint {
		display: none;
	}
	:root.vtbot-vt-active #vtbot-ui-control-hint2 {
		display: block;
	}
	#vtbot-ui-controller,
	#vtbot-ui-controller2 {
		accent-color: #888888;
		cursor: not-allowed;
		pointer-events: none;
	}
	:root.vtbot-vt-active #vtbot-ui-controller,
	:root.vtbot-vt-active #vtbot-ui-controller2 {
		cursor: unset;
		pointer-events: unset;
		accent-color: unset;
	}

	#vtbot-ui-messages ol {
		padding-left: 16pt;
	}

	#vtbot-ui-names {
		display: flex;
		flex-direction: column;
	}

	#vtbot-ui-names ol {
		border: 1pt dashed grey;
		padding-right: 0px;
		padding-left: 0px;
		margin: 8px;
		overflow-y: auto;
		width: calc(100% - 8px);
		flex-grow: 1;
		list-style-type: none;
	}
	#vtbot-ui-names ol li {
		cursor: pointer;
		padding: 2pt 8pt;
		border-left: var(--vtbot-name-border-width) solid transparent;
		border-right: var(--vtbot-name-border-width) solid transparent;
	}
	#vtbot-ui-names ol li.old {
		border-left: var(--vtbot-name-border-width) solid darkslateblue;
	}
	#vtbot-ui-names li {
		position: relative;
		margin-bottom: 1px;
	}

	#vtbot-ui-names li.old-hidden::before {
		top: 50%;
		transform: scale(0.9) translateY(-50%);
		left: -18px;
		display: inline;
		content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9ImRhcmtnb2xkZW5yb2QiIGQ9Ik0yIDUuMjdMMy4yOCA0TDIwIDIwLjcyTDE4LjczIDIybC0zLjA4LTMuMDhjLTEuMTUuMzgtMi4zNy41OC0zLjY1LjU4Yy01IDAtOS4yNy0zLjExLTExLTcuNWMuNjktMS43NiAxLjc5LTMuMzEgMy4xOS00LjU0ek0xMiA5YTMgMyAwIDAgMSAzIDNhMyAzIDAgMCAxLS4xNyAxTDExIDkuMTdBMyAzIDAgMCAxIDEyIDltMC00LjVjNSAwIDkuMjcgMy4xMSAxMSA3LjVhMTEuOCAxMS44IDAgMCAxLTQgNS4xOWwtMS40Mi0xLjQzQTkuODYgOS44NiAwIDAgMCAyMC44MiAxMkE5LjgyIDkuODIgMCAwIDAgMTIgNi41Yy0xLjA5IDAtMi4xNi4xOC0zLjE2LjVMNy4zIDUuNDdjMS40NC0uNjIgMy4wMy0uOTcgNC43LS45N00zLjE4IDEyQTkuODIgOS44MiAwIDAgMCAxMiAxNy41Yy42OSAwIDEuMzctLjA3IDItLjIxTDExLjcyIDE1QTMuMDY0IDMuMDY0IDAgMCAxIDkgMTIuMjhMNS42IDguODdjLS45OS44NS0xLjgyIDEuOTEtMi40MiAzLjEzIi8+PC9zdmc+');
		position: absolute;
	}
	#vtbot-ui-names li.new-hidden::after {
		top: 50%;
    transform: scale(0.9) translateY(-50%);
		right:-18px;
		content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9ImRhcmtnb2xkZW5yb2QiIGQ9Ik0yIDUuMjdMMy4yOCA0TDIwIDIwLjcyTDE4LjczIDIybC0zLjA4LTMuMDhjLTEuMTUuMzgtMi4zNy41OC0zLjY1LjU4Yy01IDAtOS4yNy0zLjExLTExLTcuNWMuNjktMS43NiAxLjc5LTMuMzEgMy4xOS00LjU0ek0xMiA5YTMgMyAwIDAgMSAzIDNhMyAzIDAgMCAxLS4xNyAxTDExIDkuMTdBMyAzIDAgMCAxIDEyIDltMC00LjVjNSAwIDkuMjcgMy4xMSAxMSA3LjVhMTEuOCAxMS44IDAgMCAxLTQgNS4xOWwtMS40Mi0xLjQzQTkuODYgOS44NiAwIDAgMCAyMC44MiAxMkE5LjgyIDkuODIgMCAwIDAgMTIgNi41Yy0xLjA5IDAtMi4xNi4xOC0zLjE2LjVMNy4zIDUuNDdjMS40NC0uNjIgMy4wMy0uOTcgNC43LS45N00zLjE4IDEyQTkuODIgOS44MiAwIDAgMCAxMiAxNy41Yy42OSAwIDEuMzctLjA3IDItLjIxTDExLjcyIDE1QTMuMDY0IDMuMDY0IDAgMCAxIDkgMTIuMjhMNS42IDguODdjLS45OS44NS0xLjgyIDEuOTEtMi40MiAzLjEzIi8+PC9zdmc+');
		position: absolute;
	}
	#vtbot-ui-names ol li.old-invisible {
		border-left: var(--vtbot-name-border-width) solid darkgoldenrod;
	}
	#vtbot-ui-names ol li.new {
		border-right: var(--vtbot-name-border-width) solid darkolivegreen;
	}
	#vtbot-ui-names ol li.new-invisible {
		border-right: var(--vtbot-name-border-width) solid darkgoldenrod;
	}

	#vtbot-ui-names ol li.selected {
		background-color: olive;
	}
	:root.vtbot-vt-active #vtbot-ui-names li.invisible {
		color: #888;
	}

	:root.vtbot-vt-active #vtbot-ui-names:has(input:checked) li.invisible {
		border-top: 1pt dotted grey;
		font-size:0;
		padding:0;
	}
	#vtbot-ui-filter ul {
		list-style-type: none;
		margin: 8px 0 8px 0;
		padding-left: 0;
	}
	#vtbot-ui-filter ul label {
		margin-left: 8px;
		margin-right: 8px;
	}
	#vtbot-ui-filter > label {
		margin-left: 5px;
	}
	#vtbot-ui-filter input[type='text'] {
		margin-top: 5px;
		width: 10em;
	}
	#vtbot-ui-filter input[type='text']:not(:placeholder-shown) {
		border: 1pt solid darkgoldenrod;
	}

	#vtbot-ui-panel > div > *:first-child {
		margin-top: 0;
	}

	#vtbot-ui-modi {
		display: flex;
		flex-direction: column;
	}
	#vtbot-ui-modi ul {
		padding-right: 8px;
		padding-left: 0px;
		margin: 8px 0 8px 0;
		list-style-type: none;
	}
	#vtbot-ui-modi li {
		margin-bottom: 8px;
	}
	:root:not(.vtbot-ui-column) #vtbot-ui-panel ~ button {
		/*	bottom: calc(var(--vtbot-panel-height, 204px) - 14px);*/
		bottom: 6px;
	}
	#vtbot-ui-panel {
		background-color: #4861;
		accent-color: darkolivegreen;
		scrollbar-gutter: stable;
		display: flex;
		flex-direction: row;
		font-family: sans-serif;
		font-size: 12px;
		width: 100vw;
		height: var(--vtbot-panel-height, 204px);
		margin: 0px;
		min-height: fit-content;
		border: 0px solid red;
		overflow: auto;
		box-sizing: border-box;
	}
	:root.vtbot-ui-column {
		#vtbot-ui-panel {
			flex-direction: column;
			height: 100vh;
			width: var(--vtbot-panel-width, 188px);
		}
		.horizontal {
			display: none;
		}
	}
	:root:not(.vtbot-ui-column) {
		.vertical {
			display: none;
		}
	}

	#vtbot-ui-info:empty {
		display: none;
	}
	:root:not([data-vtbot-modus='slow-motion']) #vtbot-ui-slow-motion {
		display: none;
	}
	:root:not([data-vtbot-modus='control']) #vtbot-ui-control {
		display: none;
	}

	input[type='range'] {
		width: calc(100% - 16px);
		margin: 8px;
	}

	h4 {
		margin-bottom: 8pt;
	}
	#vtbot-ui-control-play {
		display: none;
	}
	:root.vtbot-vt-active #vtbot-ui-control-exit {
		background-color: darkgoldenrod;
		color: white;
	}
	:root.vtbot-vt-active #vtbot-ui-control-play {
		display: block;
		position: fixed;
		left: 0;
		top: 0;
	}
	:root.vtbot-vt-active h4 {
		color: darkgoldenrod;
	}

	.vtbot-highlight:hover {
		background-color: #859b5f66;
	}
</style>
