---
import Layout from './_RocketLayout.astro';

export async function getStaticPaths() {
	return [
		{ params: { kind: 'plain', outline: 'no', theme: 'light' } },
		{ params: { kind: 'plain', outline: 'no', theme: 'dark' } },
		{ params: { kind: 'plain', outline: 'yes', theme: 'light' } },
		{ params: { kind: 'plain', outline: 'yes', theme: 'dark' } },
		{ params: { kind: 'fancy', outline: 'no', theme: 'light' } },
		{ params: { kind: 'fancy', outline: 'no', theme: 'dark' } },
		{ params: { kind: 'fancy', outline: 'yes', theme: 'light' } },
		{ params: { kind: 'fancy', outline: 'yes', theme: 'dark' } },
	];
}
const { kind, outline, theme } = Astro.params;
// @ts-ignore
Astro.params["pg"] = 2;

---

<Layout {kind} {outline} {theme}>
	<a id="rocket" style="view-transition-name: rocket" href=".">🚀</a>
	<a style="view-transition-name: back" href={`/iframes/rocket-${kind}-${outline}-${theme}/`}>Back to Base...</a>

	<style>
		#rocket {
			display: inline-block;
			position: fixed;
			top: 5vmin;
			right: 100px;
			transform: rotate(-45deg) scale(0.7);
			text-decoration: none;
		}
		a:not(#rocket) {
			display: inline-block;
			position: fixed;
			top: calc(1.39 * 12.5vmin);
			right: 50px;
			background-color: light-dark(lightgreen, darkgreen);
			font-size: 12.5vmin;
		}
	</style>
</Layout>
